body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  font-family: "roboto", sans-serif;
}

.button {
  border: 0;
  color: #515f69;
  padding: 26px;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #481157;
}

.invalid {
  border: 2px solid red;
}
